server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/fantasydb
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update   # (or validate, if schema already exists)
    show-sql: true
    properties:
      hibernate.format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect





